[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[packages]
pytest = "==7.4.0"
snapshottest = "==0.6.0"
cdktf = "==0.18.0"
cdktf-cdktf-provider-local = "==8.0.0"
cdktf-cdktf-provider-google-beta = "==9.0.0"
