[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.11"

[packages]
cdktf = "~=0.15.0"
pytest = "==7.4.0"
cdktf-cdktf-provider-google-beta = "==6.0.0"
cdktf-cdktf-provider-local = "==5.0.1"
snapshottest = "==0.6.0"
importlib-resources = "==6.0.1"
