[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3"

[packages]
cdktf-cdktf-provider-google-beta = "*"
cdktf-cdktf-provider-local = "*"
cdktf = "*"
